<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="/script/script.js" defer></script>
</head>
<body>
    <header id="cabecalho">
        <div id="logo-busca">
          <img src="/imgs/menu-hamburger.webp" alt="" height="30px" id="btn-hamburguer">
          <h1 id="logo">Estante Web</h1>
          <form action="" id="form-busca">
            <img src="../imgs/search_icon.svg" alt="" id="icon-busca" />
            <input type="search" name="busca" id="busca" />
            <img src="../imgs/mic_icon.svg" alt="" id="icon-mic" />
          </form>
        </div>
        <nav id="menu-nav">
          <a href="../index.html">Início</a>
          <a href="quem_somos.html">Quem Somos</a>
          <a href="contatos.html">Contato</a>
          <a href="favoritos.html" class="alinhar"
            ><img src="/imgs/star_icon.svg" alt="" />Favoritos</a
          >
          <a href="login.html">Login</a>
        </nav>
      </header>

      <main>
        <!-- Recuperação de Senha -->
        <div class="form-container">
            <form action="#">
                <h1>Esqueci a Senha</h1>
                <div id="input-esqSenha">
                    <input type="email" placeholder="Email" required>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
      </main>
    
</body>
</html>